
    {% extends 'mriAnalysis/landing.html'%}
    {% load widget_tweaks %}
    {% load staticfiles %}
    <title>KEEN EYE|Upload</title>

{% block content %}

     <div class="row">

    <div class="col-md-2"></div>
         <div class="col-md-8" style="background-color:white">
             {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

             <h4>Upload Form</h4>

             <img style="width:120px;height:120px;margin-left:300px" src="{% static 'logo1.png' %}"/>
         <form role="form" enctype="multipart/form-data" method="POST" action="">{% csrf_token %}

                                            <div class="form-group">

                                           </div>
                    <div class="col s12 right-align">
                        <button class="btn btn-info btn-fill btn-wd" type="submit">Submit</button>
                        <button class="btn btn-info btn-fill btn-wd" type="reset">Reset</button>
                    </div>


        </form>
             <div class="col-md-2"></div>
     </div>
     </div>

{% endblock content%}