
    {% extends 'starter_kit/landing.html'%}
    {% load widget_tweaks %}
    {% load staticfiles %}
    <title>KEEN EYE|Upload</title>

{% block content %}

     <div class="row">

    <div class="col-md-2"></div>
         <div class="col-md-8" style="background-color:white">
             {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">ENSURE THE FILE UPLOADED IS STRICTLY A .png FILE WITH DIMENSIONS 240X1200</li>
    {% endfor %}
</ul>
{% endif %}

             <h4>Image Analysis Request Upload Form</h4>

             <img style="width:120px;height:120px;margin-left:300px" src="{% static 'logo1.png' %}"/>
              <form action="charge" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_WyK93y9mvps7SN"
            data-amount="5100"
            data-name="Test-Client"
            data-description="Pay for image analysis"
            data-image="vk.jpg"
            data-netbanking="true"
            data-description="Tron Legacy"
            data-prefill.name="Client 001"
            data-prefill.email="client001@razorpay.com"
            data-prefill.contact="254-741-855-789"
            data-notes.shopping_order_id="21">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form>
         <form role="form" enctype="multipart/form-data" method="POST" action="">{% csrf_token %}

                                            <div class="form-group">
                                                {% for field in fillform %}
                                                <label for="field.id_for_label">{{field.html_name}}</label>
                                                {{ field.non_field_errors }}
                                                {{ field|add_class:"form-control border-input"}}
                                                <br/>
                                        {% endfor %}
                                           </div>
                    <div class="col s12 right-align">
                        <button class="btn btn-info btn-fill btn-wd" type="submit">Submit</button>
                        <button class="btn btn-info btn-fill btn-wd" type="reset">Reset</button>
                    </div>


        </form>
             <div class="col-md-2"></div>
     </div>
     </div>

{% endblock content%}