{% extends 'mriAnalysis/landing.html' %}
{% block title %}KEEN EYE|SinglePatient{% endblock title%}

{% block content%}
<div class="content">
            <div class="container-fluid">


                <div class="row">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}  style="color:green">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
                    <div class="col-md-12">
                        <div class="card">
                        {% if results %}
                            <div class="header">

                            <div class="content">
                            <h4 class="title pull-right">Previous Uploads and Analysis for Patient {{num }}</h4>

                            <table class="table table-stripped">

            <thead>
                <th><b>Request Number</b></th>
                <th><b>Patient Number</b></th>
                <th><b>Provided On</b></th>
                <th><b>Diagnosis Status</b></th>
                <th><b>Link To Results </b></th>
                   </thead>
                   <tbody>
                   {% for obj in results %}
                   <tr>
                   <td>{{ obj.requestNumber }}</td>
                   <td>{{ obj.patient_num}}</td>
                   <td>{{ obj.requestDate}}</td>
                   <td>{% if obj.processed %}
                       <font color="green">Processing Complete</font>
                       {% else %}
                       <font color="orange"> Awaiting Processing </font>
                       {% endif %}
                   </td>

                   <td>{% if obj.processed %}
                       <a href="{% url 'mriAnalysis:results' obj.requestNumber %}" target="_blank"> <font color="green" style="text-decoration:underline">View Results</font></a>
                       {% else %}
                       <a><font color="orange" style="text-decoration:underline"> <a href="{% url 'mriAnalysis:process' obj.requestNumber %}"> Request Processing </a></font></a>
                       {% endif %}
                   </td>
                   </tr>


                   {% endfor %}
                   </tbody>


            </table>


                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>


                        {% else %}
                        <p>Sorry. No previous data matching the given patient Number.

                        </p>
                        {% endif %}
                        </div>
                    </div>
                </div>
{% endblock content %}